.title-label {
    -fx-font-size: 50px;
    -fx-padding: 10px;
    -fx-background-color:linear-gradient(to bottom, #278f96,#2d645f);
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-family:"Arial";
    -fx-alignment: center;
}



.round-button {
    -fx-background-color:linear-gradient(to bottom, #278f96,#2d645f);
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}

.round-button:hover{
    -fx-background-color:linear-gradient(to bottom, #21a7ae,#368981);
}


.table {
    /*-fx-background-color: transparent;*/
    -fx-border-color:#ccc;
}

.label-deco {
    -fx-text-fill: #FFFFFF;
}

.imageView-border {
    -fx-border-color: #ccc;
    -fx-border-width: 1 1 1 1;
}